.Red {
    transition: background-color 0.3s ease-in;
    background-color: red;
    &:hover{
        background-color: rgba(255, 255, 255, 0.7);
        color: red;
    }
    &:active {
        background-color:  red;
        color: rgba(255, 255, 255, 0.7);
    }
}

.Black {
    transition: background-color 0.3s ease-in;
    background-color: black;
    &:hover{
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
    }
    &:active {
        background-color: black;
        color: rgba(255, 255, 255, 0.7) ;    
    }
    
}

.Zero {
    transition: background-color 0.3s ease-in;
    background-color: green;
    &:hover{
        background-color: rgba(255, 255, 255, 0.7);
        color: green;
    }
    &:active {
        background-color: green ;
        color: rgba(255, 255, 255, 0.7) ;
    }
}

.But_t {
    cursor: pointer;
    &:hover{
        background-color: rgba(255, 255, 255, 0.7);
    }
    &:active{
        background: linear-gradient(to top, white,rgba(255, 255, 255, 0.2) );
        color: hwb(1.57098rad  60% 60%);
    }
}

.trs {
    color: transparent;
}

.OrangBlik{
    transition: 0.3ms;
    background-color: #fdfaf67e !important;
    box-shadow: 0 0 150px #FDFAF6;
}