.Alt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    background-color: rgba(256, 256, 256, 0.7);
    background-image: url(../Bild/logos.png);
    background-size: cover;
}

.Begrus{
    height: 40%;
    width: 40%;
    font-size: 1.7vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(256, 256, 256, 0.7);
}

.Begruss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    text-align: center;
}

.Erwaks{
    padding-right: 20%;
    text-align: end;
    height: 20%;
    width: 50%;
    cursor: pointer;
    float: left;
} 

.Kind{
    padding-left: 20%;
    height: 20%;
    width: 50%;
    cursor: pointer;
    float: right;
} 

.Gruss {
    background-image: url(../Bild/Grand.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Grusss {
    background-color: rgba(256, 256, 256, 0.7);
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Logo {
    height: 30%;
    width: 100%;
}

.Gruss_div {
    height: 96%;
    width: 15%;
    cursor: pointer;
    border: 2px solid white;
    &:hover{
        height: 99%;
        width: 18%;
        box-shadow: 0 0 4em white;
    }
}

.Gruss_img {
    height: 99%;
    width: 99%;
}

@media screen and (max-width: 768px) {
    a {
        color: black;
    }

    .Alt {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 99%;
        width: 99%;
        background-color: rgba(256, 256, 256, 0.7);
        background-image: url(../Bild/GrusPhone.jpeg);
        background-size: cover;
    }

    .Begrus{
        height: 80%;
        width: 80%;
        font-size: 7vw;
    }

    .Gruss {
        background-image: url(../Bild/GrusPhone.jpeg);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .Grusss {
        padding: 2%;
        display: block;
        height: 90%;
        width: 60%;
    }
    
    .Gruss_div {
        margin: 1%;
        height: 24%;
        width: 98%;
        cursor: pointer;
        border: 2px solid white;
        &:hover{
            height: 24%;
            width: 98%;
            box-shadow: 0 0 4em gray;
            border: 2px solid grey;
        }
    }
    
    .Gruss_img {
        height: 99%;
        width: 99%;
    }

    .phone {
        display: none;
    }

} 