.Kenno {
    height: 100%;
    width: 25%;
}

.colr {
    color: #BE0D07;
    color: #D84B37;
    color: #4D6F8A;
    color: #214D68;
    color: #222224;
    color: #646C6E;
} 

.Kenno_Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004E4E;
    height: 20%;
    width: 100%;
}

.Kenno_Interaktion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    height: 80%;
    width: 100%;
    background-color: aliceblue
}

.Kenno_Midl {
    height: 100%;
    width: 50%;
    background-color: #222224;
}

.Kenno_Table {
    height: 70%;
    width: 100%;
    border: 2px solid #214D68;
}

.Kenno_Table  td {
    border-radius: 40%;
    text-align: center;
    border: 2px solid white;
    color: azure;
    font-size: 2vw;
    cursor: pointer;
    background: linear-gradient(90deg,#222224 0%, #4D6F8A 35%, #646C6E 100%);

    &:hover {
        background: linear-gradient(90deg, rgb(69, 68, 93) 0%, rgb(54, 54, 117) 35%, rgb(41, 81, 88) 100%);
    }
}

.Kenno_Midl_Interaktion_Oben {
    height: 20%;
    width: 100%;
}

.Midl_Interaktion_Oben_IMG {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004E4E;
    width: 100%;
    height: 100%;
}

.Midl_Interaktion_IMG {
    height: 100%;
    width: 100%;
}

.Midl_Interaktion_Oben_div{
    height: 100%;
    width: 100%;
}

.Midl_Interaktion_Oben{ 
    background-color: #D84B37;
    height: 100%;
    width: 100%;
}

.Midl_Interaktion_Oben td {
    color: white;
    border: 1px solid white;
    text-align: center;
    height: 100%;
    width: 50%;
}

.Kenno_Midl_Interaktion {
    height: 10%;
    width: 100%;
}

.Midl_Interaktion {

    background-color: #D84B37;
    height: 100%;
    width: 100%;
}

.Midl_Interaktion td {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    text-align: center;
    height: 100%;
    width: 20%;
}

.Coins_Oben {
    width: 98%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BC5C7;
    color: #AA4C4E;
    font-size: 3vw;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    border: 8px ridge #D84B37;
}

.Animat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 98%;
}

.Animat_1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 4vw;
    color: transparent;
    height: 60%;
    width: 24%;
    border-radius: 50%;
    border: 8px ridge #D84B37;

}

.Tabl {
    height: 98%;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    border: 8px ridge #D84B37;
}

.Name_Table {
    font-variant-numeric: oldstyle-nums;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
    font-size: 3vw;
    color: #D84B37;
    background-color: #222224;
}

.His_Table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 98%;
}

.His_Table_Table {
    height: 90%;
    width: 90%;
    border: 3px ridge #D84B37;
}

.His_Table_Table td {
    text-align: center;
    height: 10%;
    width: 50%;
    border:1px solid #AA4C4E;
    color: #D84B37;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .Kenno_Midl {
        width: 100%;
    }

    .phone {
        display: none;
    }

    .phone_add {
        display: block;
    }       
    
    .Kenno_Table {
        height: 85%;
    }

    .Kenno_Table  td {
        font-size: 5vw;
        font-weight: bold;
        color: #222224;
        border: 1px solid rgb(160, 52, 13);
    }

    .Kenno_Midl_Interaktion_Oben{
        height: 5%;
    }

    .Midl_Interaktion_Oben_div{
        display: block !important;
    }

    .plus {
        font-size: 5vw !important;
        font-weight: 900 !important;
    }

    .plus_animat {
        height: 100%;
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .Animat_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 80%;
        border-radius: 50%;
        border: 2px solid rgb(240, 235, 235);
    }

    .ps {
        font-size: 4vw !important;
    }

} 