.Kenno {
    height: 100%;
    width: 25%;
    background-color: #4D6F8A;
}

.colr {
    color: #BE0D07;
    color: #D84B37;
    color: #4D6F8A;
    color: #214D68;
    color: #222224;
    color: #646C6E;
} 

.Kenno_Logo {
    height: 40%;
    width: 100%;
}

.Kenno_Interaktion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    height: 60%;
    width: 100%;
    background-color: aliceblue
}

.Nach {
    margin: 5%;
    height: 100%;
    width: 20%;
    writing-mode: vertical-rl;
	text-orientation: upright;
    color: #4D6F8A;
    font-size: 3vw;
}

.Balls {
    text-align: center;
    height: 95%;
    width: 30%;
    background-color: #D84B37;
}

.Balls  td {
    height: 10%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #214D68;
    background-color: bisque;
}

.Kenno_Midl {
    height: 100%;
    width: 50%;
    background-color: #222224;
}

.Kenno_Table {
    height: 85%;
    width: 100%;
    border: 2px solid #214D68;
}

.Kenno_Table  td {
    border-radius: 40%;
    text-align: center;
    border: 2px solid white;
    color: azure;
    font-size: 2vw;
    cursor: pointer;
    background: linear-gradient(90deg,#222224 0%, #4D6F8A 35%, #646C6E 100%);

    &:hover {
        background: linear-gradient(90deg, rgb(69, 68, 93) 0%, rgb(54, 54, 117) 35%, rgb(41, 81, 88) 100%);
    }
}

.Kenno_Midl_Interaktion_Oben {
    height: 5%;
    width: 100%;
    border: 2px solid white;
}

.Kenno_Midl_Interaktion {
    height: 10%;
    width: 100%;
    border: 2px solid white;
}

.Midl_Interaktion_Oben{ 
    background-color: #D84B37;
    height: 100%;
    width: 100%;
}

.Midl_Interaktion_Oben td {
    border: 1px solid green;
    text-align: center;
    height: 100%;
    width: 50%;
}

.Midl_Interaktion {

    background-color: #D84B37;
    height: 100%;
    width: 100%;
}

.Midl_Interaktion td {
    border: 1px solid green;
    text-align: center;
    height: 100%;
    width: 20%;
}
 
.tb {
    text-align: center;
    color: #D84B37;
    background-color: #4D6F8A;
    font-size: 1.32vw;
}

@media screen and (max-width: 768px) {
    .Kenno_Midl {
        width: 100%;
    }

    .phone {
        display: none;
    }

    .phone_add {
        display: block;
    }       
    
    .Kenno_Table  td {
        font-size: 5vw;
        font-weight: bold;
        color: #222224;
        border: 1px solid rgb(160, 52, 13);
    }

    .plus {
        font-size: 4vw ;
        font-weight: 900;
        color: #214D68;
    }

    .ps {
        font-size: 4vw !important;
    }

} 