.Ruletka {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(../Bild/Rull.jpg);
    background-size: cover;
}

.Spiel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    background-image: url(../Bild/Gr_rul.jpg);
    background-size: cover;
    border: thick double #6e1d1d76;
}

.border{
    height: 55%;
    width: 3.8%;
}

.Ruletka_Horizon {
    font-size: 2vw;
    width: 70%;
    height: 55%;
    border: 2px solid white;
    z-index: 7;
}

.Ruletka_Vertikal_div{
    height: 100%;
    width: 90%;
    display: none; 
}

.img_Rul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Bild/Rul.png);
    background-size: cover;
    height: 100%;
    width: 25%;
}

.Rul_Boll{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    height: 80%;
    width: 70%;
}

#Rul_Boll_4{
    font-size: 5vw;
    font-weight: bold;
    color: #DCC0C3;
    height: 25%;
    width: 12%;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
}

.tdd {
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    height: 30%;
    width: 7.69%;
    cursor: pointer;
    padding: 0;
}

.Interation {
    width: 10%;
    height: 100%;
    color: #DCC0C3;
    background-color: #40154e;
}

.Inter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5CACD;
    font-weight: bold;
    font-size: 2vw;
    height: 14.28%;
    width: 100%;
}

.Inter_sch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#roll {
    height: 90%;
    width: 250%;
    transform: rotate(1deg);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .Spiel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-image: url(../Bild/Rull.jpg);
        background-size: cover;
    } 

    .Ruletka_Vertikal_div{
        display: block;
    }

    .Ruletka_Vertikal{
        width: 100%;
        height: 100%;
        border: 2px solid white;
    }

    .Interation{
        background-color: darkgray;
        color: #40154e;
    }

    .tdd {
        text-align: center;
        color: white;
        font-size: 4vw;
        font-weight: bold;
        border: 1px solid white;
        border-radius: 40%;
        height: 12.5%;
        width: 16.5%;
        cursor: pointer;
        padding: 0;
    }

    #sch{
        color: #DCC0C3;
    }

    #spinres {
        color: #DCC0C3;
    }

    .phone {
        display: none;
    }

    #Inter_rul {
        font-size: 3vw;
        writing-mode: vertical-rl;
	    text-orientation: upright;
    }

    .Inter {
        font-size: 4vw;
    }

    #roll{
        display: none;
    }

    .border{
        display: none;
    }

} 